<ion-footer class="white">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col class="box-menu" (click)="route('rent-field')">
          <ion-img class="quicklink-icon btn" src="assets/icon/rentField.png"></ion-img>
          <p class="bold quicklink-text">Find</p>
      </ion-col>
      <ion-col class="box-menu" (click)="route('sparring')">
          <ion-img class="quicklink-icon btn" src="assets/icon/sparring.png"></ion-img>
          <p class="bold quicklink-text">Sparring</p>
      </ion-col>
      <ion-col class="box-menu" (click)="route('home')">
          <ion-img class="quicklink-icon btn" src="assets/icon/home.png"></ion-img>
          <p class="bold quicklink-text">Home</p>
      </ion-col>
      <ion-col class="box-menu" (click)="route('news')">
          <ion-img class="quicklink-icon btn" src="assets/icon/news.png"></ion-img>
          <p class="bold quicklink-text">News</p>
      </ion-col>
      <ion-col class="box-menu" (click)="route('myprofile')">
          <ion-img class="quicklink-icon btn" src="assets/icon/profile.png"></ion-img>
          <p class="bold quicklink-text">Profile</p>
      </ion-col>
    </ion-row>
  </ion-grid>    
</ion-footer>