<ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">My Profile</ion-title>
      <ion-buttons slot="start">
        <ion-button color="light" (click)="about()">About</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button color="light" (click)="logout()">Logout</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<ion-content class="ion-padding">

  <!--Profile Section-->
  <ion-grid>
    <ion-row class="ion-align-items-center">   
      <ion-col size="5" class="ion-align-self-center">
        <ion-avatar class="avatar">
          <ion-img [src]="profilePicture"></ion-img>
        </ion-avatar>
        <ion-button *ngIf="loadingProfile" fill="clear"><ion-spinner name="dots"></ion-spinner></ion-button>
        <ion-button *ngIf="!loadingProfile" (click)="editProfile()" fill="clear">Edit Profile</ion-button>
      </ion-col>
      <ion-col>
        <h2 class="name">{{profile.first_name +' '+profile.last_name}}</h2>
        <div class="joined-event">
          <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col size="3"class="num-event ion-align-self-center">
                  <ion-spinner name="dots" *ngIf="numberOfEvents == null"></ion-spinner>
                  <span *ngIf="numberOfEvents != null">{{numberOfEvents}}</span>
                </ion-col>
                <ion-col>
                Upcoming Event You've Joined
                </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>

    <div class="divider"></div>

      <!--Your active fields-->
    <ion-row  class="ion-align-items-center">
      <ion-col>
        <h3>
          Your Active Fields
          <ion-spinner *ngIf="loadingActiveFields" name="dots"></ion-spinner>  
        </h3>
      </ion-col>
        <ion-col>
          <a [routerLink]="['/','addnewfield']">
            <ion-button class="ion-float-right" size="small" fill="clear">
              <b>+Add new field</b>
            </ion-button>
          </a>
        </ion-col>
    </ion-row>
    
    <ion-row *ngIf="!loadingActiveFields">
      <ion-col>
        <div class="horizontal-scrolling">
            <app-card-field-short
            *ngFor="let item of activeFields"
            [court]="item"
          ></app-card-field-short>
        </div>
      </ion-col>
    </ion-row>

    <div class="divider"></div>

    <!--Your active Events-->
    <ion-row class="justify-content-center">
        <ion-col>
          <h3>
            Your Active Events
            <ion-spinner *ngIf="loadingActiveEvents" name="dots"></ion-spinner>
          </h3>
        </ion-col>
        <ion-col>
            <a [routerLink]="['/','addnewevent']">
              <ion-button class="ion-float-right" size="small" fill="clear">
                <b>+Add new Event</b>
              </ion-button>
            </a>
        </ion-col>
    </ion-row>
    
    <ion-row *ngIf="!loadingActiveEvents">
      <ion-col>
        <div class="horizontal-scrolling" >
          <app-card-sparring *ngFor="let item of activeEvents"
          style="max-width: 80% !important"
          [sparring]="item.sparring"
          [court]="item.court"
          ></app-card-sparring>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<app-footer-menu-bar></app-footer-menu-bar>
