*{
    position: relative;
}

ion-spinner {
    height: 24px !important;
    width: 24px !important;
}

.joined-event{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 12px;

    .num-event{
        font-weight: lighter;
        margin: auto;
        font-size: 30px;
    }
}

.avatar{
    height: 6rem;
    width: 6rem;
    margin:auto;
}

.name{
    font-weight: bolder;
    line-height: 1;
}

a{
    font-size: 12px;
}

.thigh{
    line-height: 0;
}

.horizontal-scrolling{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.bold{
    font-weight: bolder;
}

.divider{
    height:8px;
    border-bottom: gray 1px solid;
}

.icon-spacer{
    width: 4px;
}