.rectangle-one{
    position: absolute;
    width: 140%;
    height: 70%;
    left: -22%;
    top: -66%;
    background: #5F9FFF;
    border-radius: 76px;
    transform: rotate(-13.75deg);
}

.rectangle-two{
    position: absolute;
    width: 170%;
    height: 70%;
    left: -50%;
    top: -39%;
    background: #5599FF;
    border-radius: 98px;
    transform: rotate(-13.75deg);
}

.rectangle-three{
    position: absolute;
    width: 170%;
    height: 70%;
    left: -70%;
    top: -27%;
    background: #3D89FB;
    border-radius: 98px;
}