<ion-content>
  <ion-list>

    <ion-item lines="none" *ngIf="loadingComment">
      <div class="spin">
        <ion-spinner name="dots"></ion-spinner>
      </div>
    </ion-item>
    <!-- A one bubble chat-->
    <ion-item *ngFor="let item of comments">

      <ion-grid *ngIf="item.user_id != userID">
        <ion-row>
          <ion-col size="2">
            <ion-avatar>
              <ion-img src="assets/images/placeholder/maps.png"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col class="ion-padding">
            <h4 class="recipient">{{users[item.user_id].first_name + ' '+ users[item.user_id].last_name}}</h4>
            <p class="message">{{item.comment}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid *ngIf="item.user_id == userID"> 
        <ion-row>
          <ion-col class="ion-padding">
            <h4 class="recipient" style="text-align: right;">You</h4>
            <p class="message" style="text-align: right;">{{item.comment}}</p>
          </ion-col>
          <ion-col size="2">
            <ion-avatar>
              <ion-img src="assets/images/placeholder/maps.png"></ion-img>
            </ion-avatar>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
    
  </ion-list>
</ion-content>

<ion-footer *ngIf="!loadingComment">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-textarea class="text-msg" [(ngModel)]="commentBox" placeholder="Type a message..."></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button disabled *ngIf="commentBox == '' || sendingMessage"><fa-icon [icon]="paperPlane"></fa-icon></ion-button>
        <ion-button *ngIf="commentBox != '' && !sendingMessage" (click)="sendComment()"><fa-icon [icon]="paperPlane"></fa-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
