<ion-header>
  <ion-toolbar class="main-header">
      <ion-title>Sparring </ion-title>
  </ion-toolbar>
</ion-header>

<!--Selector-->
<ion-header>
    <ion-toolbar>
        <app-selector-sport-word (onSelected)="select($event)"></app-selector-sport-word>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-list>
      <ion-item lines="none" *ngFor="let item of sparringPairFiltered"> 
          <app-card-sparring
          [sparring]="item.sparring"
          [court]="item.court"
          ></app-card-sparring>
      </ion-item>
      <ion-item *ngIf="sparringPairFiltered.length == 0" lines="none">
        <ion-label>No item(s) in this selection</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
<app-footer-menu-bar></app-footer-menu-bar>