.main-header{
    --background: #3699F7;
}

.main-selector{
    --background: #FFFFFF ;
}

a{
    padding-left: 80px;
}

ion-button{
    margin-top: -5px;
}

ion-spinner {
    display: block;
    margin: auto;
  }