.main-header{
    --background: #3699F7;
}

ion-title{
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}

.sparring-card{
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 12px;

    .card-header{
        background: #EEEEEE;
        border-radius: 12px 12px 0px 0px;
    }

    .h5{
        line-height: 0;
    }
}

.card-content{
    padding-left: 1rem;
}

a{
    padding-left: 80px;
}

ion-button{
    margin-top: -5px;
}