<ion-content>
    <app-header-decor></app-header-decor>
    <h1 class="title ion-text-center">Sign In</h1>
    <div class="spacer"></div>
    
    <div padding>
        <div class="card-container">
            <div class="form-title">
              Email
            </div>
            <ion-input type="email" [(ngModel)]="email" name="email" placeholder="raga@example.com"></ion-input>
            <br>
            <div class="form-title">
              Password
            </div>
            <ion-input type="password" [(ngModel)]="password"  name="password" placeholder="Your password"></ion-input>
        </div>
    </div>
    <div padding>
      <a>
        <ion-button (click)="auth()" *ngIf="!isProcessing" class = "button button-block">Sign In</ion-button>
        <ion-button (click)="auth()" *ngIf="isProcessing" class = "button button-block" disabled>Processing...</ion-button>
      </a>
    </div>
      <div class="ion-text-center">
        <p>Don't have an account? <a [routerLink]="['/','register']">Sign Up</a></p>
    </div>
</ion-content>