ion-toolbar{
    --background: #3699F7;
}

ion-title{
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}

.container{
    padding-left: 16px;
    margin-right: 16px;
}

h3{
    font-weight: bolder;
}

.news-card{
    margin-right: 1em;
    width: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 12pt;
    display: block;
    overflow: hidden;
    color:white;

    h3{
        padding-top: 1em;
        font-weight: bolder;
        line-height: 0.1;
    }
    
    .news-picture{
        object-fit: cover;
        height:25vh;
    }
    
    .news-content{
        display: block;
        margin-top: -6em;
        padding-left:16px;
        padding-right: 16px;
        height: 5em;
        background: rgba($color: #000000, $alpha: 0.44)
    }

    .more-button{
        top:1.1em;
        right:0.8em;
        padding: 4pt;
        position: absolute;
        background: #3D89FB;
        border-radius: 12pt;
    }
}