<ion-header>
    <ion-toolbar class="main-header">
        <ion-title>Sparring Details</ion-title>
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-tabs>
      <ion-tab-bar slot="top">
          <ion-tab-button tab="details">
            <ion-label>Details</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="discussion">
            <ion-label>Discussion</ion-label>
          </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-content>
