<div class="row">
  <div class="title-container">

    <div class="title-background">
      <div class="rectangle-one"></div>
      <div class="rectangle-two"></div>
      <div class="rectangle-three"></div>
    </div>
    <div class="title">
      Register
    </div>
    <div class="card-container">
      <div class="email-title">
        FIRST NAME<br>
        <input type="text"/>
      </div>
      <br>
      <div class="email-title">
          LAST NAME<br>
          <input type="text"/>
        </div>
        <br>
        <div class="email-title">
            PHONE<br>
            <input type="text"/>
          </div>
          <br>
      <div class="email-title">
        EMAIL<br>
        <input type="email"/>
      </div>
      <br>
      <div class="password-title">
        PASSWORD<br>
        <input type="password"/>
      </div>
      <br>
      <div class="password-title">
          CONFIRM PASSWORD<br>
          <input type="password"/>
        </div>
    </div>

    <div class="button">
      <div class="button-title">Sign In</div>
    </div>


  </div>
  <div class="footer">
    Don't have an account?
    <div class="footer-a">Sign Up</div>
  </div>
</div>