<ion-header>
    <ion-toolbar>
      <ion-title>Field Details</ion-title>
      <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/rent-field"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getRoute($event)">
    <ion-refresher-content
      pullingIcon
      pullingText="Pull to refresh"
      refreshingSpinner="dots"
      refreshingText="Updating your current location...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-img class="main-image" [src]="
  court.photo == null ? 'assets/images/placeholder/generic.jpg' : court.photo"></ion-img>
  <app-sport-selector
    style="pointer-events: none !important;"
    [selected]="selected"
  ></app-sport-selector
    >
  <div class="padding-left">
    <h3>{{court.name}}</h3>
    <p>{{court.location}}</p>
    </div>
    <!--Buttons-->
    <ion-grid>
      <ion-row>
        <ion-col>
          <a href="tel:{{court.phone_number}}"><ion-button expand="block" >Call</ion-button></a>
        </ion-col>
        <ion-col>
          <a href="mailto:{{court.email}}"><ion-button expand="block" color="light">Email</ion-button></a>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--Price Table-->
    <ion-grid class="price-table ion-text-center">
      <ion-row>
        <ion-col>
          <b>Rp{{court.weekday_price}}</b>
          <p>Weekday</p>
        </ion-col>
        <ion-col>
          <b>Rp{{court.weekend_price}}</b>
          <p>Weekend</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <agm-map>
            <agm-direction [origin]="origin" [destination]="destination">
            </agm-direction>
            <agm-marker></agm-marker>
          </agm-map>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-spinner *ngIf="distance == undefined" class="ion-text-center" name="dots"></ion-spinner>
          <ion-label *ngIf="distance != undefined" class="ion-text-center">{{distance}} km from your current location</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
