*{
    position: relative;
}

.padding-left{
    padding-left: 1rem;
    padding-top: 1rem
}

.main-image{
    height: 30%;
    overflow: hidden;
    object-fit: cover;

}

h3{
    font-weight: bolder;
    line-height: 0;
}

.price-table{
    margin: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    ion-row:nth-child(1){
        border-bottom: 1px solid #eaeaea;
        ion-col{
            b{
                line-height: 0;
            }
            p{
                line-height: 0;
            }
        }
    }
}

.thin{
    font-weight: 400;
}

.bold{
    font-weight: bolder;
}

.tight{
    line-height: 0;
}