<ion-header>
    <ion-toolbar>
      <ion-title>Field Details</ion-title>
      <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/rent-field"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-img class="main-image" [src]="
  court.photo == null ? 'assets/images/placeholder/generic.jpg' : court.photo"></ion-img>
  <app-sport-selector
    style="pointer-events: none !important;"
    [selected]="selected"
  ></app-sport-selector
    >
  <div class="padding-left">
    <h3>{{court.name}}</h3>
    <p>{{court.location}}</p>
    </div>
    <!--Buttons-->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" >Call</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="medium">Email</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--Price Table-->
    <ion-grid class="price-table ion-text-center">
      <ion-row>
        <ion-col>
          <b>Rp{{court.weekday_price}}</b>
          <p>Weekday</p>
        </ion-col>
        <ion-col>
          <b>Rp{{court.weekend_price}}</b>
          <p>Weekend</p>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            09.00-22.00 WIB
          </ion-col>
          <ion-col>
            09.00-22.00 WIB
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
