<ion-content>
  <ion-list>
    
    <ion-item *ngIf="peopleNeeded != undefined">
      <ion-grid>
        <ion-row >
            <b><fa-icon [icon]="userTimes"></fa-icon>
              {{ peopleNeeded <= 0 ? 'Minimum participant(s) has been reached' : peopleNeeded+' more participant(s) are needed'}}</b>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
          <ion-row>
            <h5><fa-icon [icon]="building"></fa-icon>{{court.name}}</h5>
          </ion-row>
        <ion-row>
          <h5><fa-icon [icon]="globeAsia"></fa-icon>{{sparring.who_can_play}}</h5>
        </ion-row>
        <ion-row>
          <h5><fa-icon [icon]="dollarSign"></fa-icon> {{
            date.getDay().toString() == '0' || date.getDay().toString() == '6' ? (court.weekend_price | currency:'IDR': 'Rp'): 
            (court.weekday_price | currency:'IDR': 'Rp')
          }}/person</h5>
          </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
          <ion-row>
              <h5><fa-icon [icon]="stopwatch"></fa-icon> {{sparring.date}}, {{sparring.start_time}} -  {{sparring.end_time}} </h5>
          </ion-row>
          <ion-row *ngIf="sparring.repeat_every_week == 'yes'">
            <h5>Repeat every week</h5>
          </ion-row>
          <ion-row>
            <h5><fa-icon [icon]="mapPin"></fa-icon>{{court.location}}</h5>
          </ion-row>
          <ion-row>
              <h5><fa-icon [icon]="notes"></fa-icon>{{sparring.desc}}</h5>
          </ion-row>
          <ion-row>
            <ion-col>

              <agm-map>
                <agm-direction [origin]="origin" [destination]="destination">
                </agm-direction>
                <agm-marker></agm-marker>
              </agm-map>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col>
              <ion-spinner *ngIf="distance == undefined" class="ion-text-center" name="dots"></ion-spinner>
              <ion-label *ngIf="distance != undefined" class="ion-text-center">{{distance}} km from your current location</ion-label>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
              <ion-button>Share this game</ion-button>
          </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer *ngIf="isLoading">
    <ion-button expand="full" *ngIf="!isJoined" disabled>
      <ion-spinner name="dots"></ion-spinner>
    </ion-button>
</ion-footer>

<ion-footer *ngIf="!isLoading">
  <ion-button expand="full" *ngIf="!isJoined" (click)="join()">JOIN GAME</ion-button>
  <ion-button expand="full" disabled *ngIf="isJoined">JOINED</ion-button>
</ion-footer>
