<ion-content>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
            <b><fa-icon [icon]="userTimes"></fa-icon>9 more players needed</b>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
          <ion-row>
            <h5><fa-icon [icon]="building"></fa-icon> Futsal</h5>
          </ion-row>
        <ion-row>
          <h5><fa-icon [icon]="globeAsia"></fa-icon> Public Game</h5>
        </ion-row>
        <ion-row>
          <h5><fa-icon [icon]="dollarSign"></fa-icon> Rp100.000/person</h5>
          </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
          <ion-row>
              <h5><fa-icon [icon]="stopwatch"></fa-icon> Tomorrow, 7 pm - 9 pm <br> Repeat every week</h5>
            </ion-row>
          <ion-row>
            <h5><fa-icon [icon]="mapPin"></fa-icon> Cisauk Staples Centre</h5>
          </ion-row>
          <ion-row>
              <h5><fa-icon [icon]="notes"></fa-icon> Tes</h5>
          </ion-row>
          <ion-row>
            <ion-img src="assets/images/placeholder/maps.png"></ion-img>
          </ion-row>
          <ion-row justify-content-center>
              <ion-button>Share this game</ion-button>
          </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
    <ion-button expand="full">JOIN GAME</ion-button>
</ion-footer>
