<ion-content>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
            <fa-icon [icon]="userTimes"></fa-icon>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
          <ion-row>
            <h5><fa-icon [icon]="building"></fa-icon> Tes</h5>
          </ion-row>
        <ion-row>
          <h5><fa-icon [icon]="globeAsia"></fa-icon> Tes</h5>
        </ion-row>
        <ion-row>
          <h5><fa-icon [icon]="dollarSign"></fa-icon> Tes</h5>
          </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
          <ion-row>
              <h5><fa-icon [icon]="stopwatch"></fa-icon> Tes</h5>
            </ion-row>
          <ion-row>
            <h5><fa-icon [icon]="mapPin"></fa-icon> Tes</h5>
          </ion-row>
          <ion-row>
              <h5><fa-icon [icon]="notes"></fa-icon> Tes</h5>
          </ion-row>
          <ion-row justify-content-center>
              <ion-button>Share this game</ion-button>
          </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" fill="outline">JOIN GAME</ion-button>
  </ion-toolbar>
</ion-footer>
