.field-card-small{
    margin-right: 0.5em;
    width: 45%;
    border: 1px solid #EAEAEA;
    border-radius: 12pt;
    display: inline-block;
    overflow: hidden;

    h6{
        font-weight: bolder;
        line-height: 0;
    }
    
    .field-picture{
        height: 8em;
        object-fit: cover;
    }

    .field-content{
        padding: 0.2rem;
    }
    
    .detail{
        font-size: 6pt;
    }
    
}