ion-input,ion-textarea{
    --padding-start	: 4px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
}
    
.photo{
    height: 128px;
    width: 100%;
    background : #888888;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
    object-fit: cover;
}