<ion-header>
  <ion-toolbar>
    <ion-title>Add New Field</ion-title>
    <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="/myprofile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formData">
    <ion-grid padding>
      
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <ion-label>Field Name</ion-label>
            <ion-input formControlName="name" name="fieldname" type="text" placeholder="Field Name"></ion-input>
        </ion-col>
    </ion-row>

      <!--Sport selection-->
      <app-sport-selector (onSelected)="select($event)"></app-sport-selector>
                
      <ion-row>   
          <ion-col>
              <ion-label>Phone Number</ion-label>
              <ion-input formControlName="phone_number" name="phone" type="text" placeholder="Phone Number"></ion-input>
          </ion-col>
          <ion-col>
              <ion-label>E-Mail</ion-label>
              <ion-input formControlName="email" name="email" type="text" placeholder="Email"></ion-input>
          </ion-col>
      </ion-row>

      (onSelected)="select($event)"
    ></app-sport-selector
      >        
    <ion-row>   
        <ion-col>
          <ion-label>Field Location</ion-label>
          <ion-textarea rows="5" formControlName="location" name="fieldlocation" type="text" placeholder="Field Location"></ion-textarea>
        </ion-col>
    </ion-row>

      <ion-row>   
          <ion-col>
              <ion-label>Weekday Price</ion-label>
              <ion-input formControlName="weekday_price" name="weekdayprice" type="Number" placeholder="100000"></ion-input>
          </ion-col>
          <ion-col>
              <ion-label>Weekend Price</ion-label>
              <ion-input formControlName="weekend_price" name="weekendprice" type="Number" placeholder="200000"></ion-input>
          </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
              <ion-label>Add Field Photo</ion-label>
          </ion-col>
          <ion-col >
            <ion-button danger *ngIf="photo != placeholder" (click)="resetPicture()"> Reset Picture </ion-button>
          </ion-col>
      </ion-row>

      <ion-row>
        <img [src]="photo" class="photo" (click)="takeAPicture()"/>
      </ion-row>

    <ion-row>
        <ion-col>
            <ion-button size="large" type="submit" (click)="submit()" expand="block">Add New Field</ion-button>
        </ion-col>
    </ion-row>

    <ion-row>
      
    </ion-row>

  
    <ion-row>
      <div class="photo"></div>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-button size="large" type="submit" expand="block" (click)="sendData()">Add New Field</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
