ion-input{
    --padding-start	: 4px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
}


.desc{
    --padding-start	: 4px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
}

.center{
    margin: auto;
}

.repeat-dialog{
    border: 1px solid #3D89FB;
    box-sizing: border-box;
    border-radius: 12px;
}
