<ion-header>
  <ion-toolbar>
    <ion-title text-center>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-button (click)="getNewsList()" >Refresh</ion-button>
    <ion-list>
        <ion-list-header color="tertiary">
          <ion-label>News List</ion-label>
        </ion-list-header>
          <ion-item *ngFor="let x of newsList;let i=index" >
              <ion-avatar >
                <img [src]="x.urlToImage">
              </ion-avatar>
              <ion-label>
                <h3>{{x.title}}}</h3>
                <p>{{x.description}}</p>
                <p>{{x.url}}</p>
              </ion-label>
            </ion-item>
        </ion-list> -->


  <div class="container">
      <h3>Popular News</h3>

      <div class="news-card" (click)="openNewsDetails()" *ngFor="let x of newsList;let i=index">
            <ion-img class="news-picture" src="{{x.urlToImage}}"></ion-img>
              <div class="news-content">
                  <p>{{x.title}}}</p>
                  <div class="more-button">View More</div>
              </div>
      </div>

      <h3>Latest News</h3>

      <div class="horizontal-scrolling">

        <div class="news-card" (click)="openNewsDetails()" *ngFor="let x of newsList;let i=index">
          <ion-img class="news-picture" src="{{x.urlToImage}}"></ion-img>
            <div class="news-content">
                <p>{{x.title}}}</p>
                <div class="more-button">View More</div>
            </div>
    </div>
      
      </div>
        
  </div>
</ion-content>
<app-footer-menu-bar></app-footer-menu-bar>