ion-toolbar{
    --background: #3699F7;
}

*{
    position: relative;
}


ion-title{
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}

.container{
    padding-left: 16px;
    margin-right: 16px;
}

h3{
    font-weight: bolder;
}


.horizontal-scrolling{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.news-card{
    display: inline-block;
    margin-right: 1em;
    width: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 12pt;
    display: inline-block;
    overflow: hidden;
    color:white;
    margin-bottom: 1em;
    
    p{
        padding-top: 0.7em;
    }

    .news-picture{
        object-fit: cover;
        height:25vh;
    }

    .news-content{
        margin-top: -6em;
        padding-top:-6em;
        padding-left:16px;
        padding-right: 16px;
        height: 4em;
        background: rgba(0, 0, 0, 0.44);

        .news-content-text{
            top: 1vh;
            max-width: 65vw;
        }

        .more-button{
            top: 1vh;
            right: 5vw;
            padding: 8pt;
            position: absolute;
            background: #3D89FB;
            border-radius: 12pt;
            font-size: 8pt;
        }
    }
}