<ion-header>
  <ion-toolbar>
    <ion-title text-center>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
      <h3>Popular News</h3>

      <div class="news-card" (click)="openNewsDetails()">
            <ion-img class="news-picture" src="https://www.si.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_1400/MTY3ODg1NzUwMDczODI4NjI1/robert-lewandowski-bayern-munich-union-berlin.webp"></ion-img>
              <div class="news-content">
                  <p>Manchester United Masuk dalam<br>Zona Degradasi</p>
                  <div class="more-button">View More</div>
              </div>
      </div>

      <div class="news-card">
          <ion-img class="news-picture" src="https://www.si.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_1400/MTY3ODg1NzUwMDczODI4NjI1/robert-lewandowski-bayern-munich-union-berlin.webp"></ion-img>
            <div class="news-content">
              <p>Manchester United Masuk dalam<br>Zona Degradasi</p>
                <div class="more-button">View More</div>
            </div>
      </div>

      <h3>Latest News</h3>

      <div class="horizontal-scrolling">

        <div class="news-card">
              <ion-img class="news-picture" src="https://www.si.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_1400/MTY3ODg1NzUwMDczODI4NjI1/robert-lewandowski-bayern-munich-union-berlin.webp"></ion-img>
                <div class="news-content">
                  <p>Manchester United Masuk dalam<br>Zona Degradasi</p>
                    <div class="more-button">View More</div>
                </div>
        </div>

        <div class="news-card">
            <ion-img class="news-picture" src="https://www.si.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_1400/MTY3ODg1NzUwMDczODI4NjI1/robert-lewandowski-bayern-munich-union-berlin.webp"></ion-img>
              <div class="news-content">
                <p>Manchester United Masuk dalam<br>Zona Degradasi</p>
                  <div class="more-button">View More</div>
              </div>
        </div>
      
      </div>
        
  </div>
</ion-content>
