<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
      <h3>Popular News</h3>

      <div class="news-card" *ngFor="let x of newsList;let i=index"  (click)="openNewsDetails(x.url)" >
            <ion-img class="news-picture" src="{{x.urlToImage}}"></ion-img>
              <div class="news-content">
                  <div class="news-content-text">{{x.title}}}</div>
                  <div class="more-button">View More</div>
              </div>
      </div>

      <h3>Latest News</h3>

      <div class="horizontal-scrolling">
        <div class="news-card" *ngFor="let x of newsList;let i=index" (click)="openNewsDetails(x.url)" >
            <ion-img class="news-picture" src="{{x.urlToImage}}"></ion-img>
              <div class="news-content">
                  <div class="news-content-text">{{x.title}}}</div>
                  <div class="more-button">View More</div>
              </div>
        </div>
      </div>
        
  </div>
</ion-content>
<app-footer-menu-bar></app-footer-menu-bar>