:not(app-header-decor) {
    position: relative;
}

.title{
    margin-top: 25%;
    font-weight: bolder;
    font-size: 50px;
    color: #ffffff;
}

.form-title{
    color: #3699F7;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: bold;
}

.spacer{
    height: 10%;
}

.card-container{
    margin: auto;
    padding: 2em;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

ion-input {
    border-bottom: #EEEEEE 1px solid;
}