<ion-content>
    <app-header-decor></app-header-decor>
    <h1 class="title ion-text-center">Sign In</h1>
    <div class="spacer"></div>
    
    <div class="card-container">
        <div class="form-title">
          Email
        </div>
        <ion-input type="email" name="email" placeholder="raga@example.com"></ion-input>
        <br>
        <div class="form-title">
          Password
        </div>
        <ion-input type="password" name="password" placeholder=""></ion-input>
      </div>
    <div padding>
      <ion-button class = "button button-block">Sign In</ion-button>
    </div>
      <div class="ion-text-center">
        <p>Don't have an account? <a [routerLink]="['/','register']">Sign Up</a></p>
    </div>
</ion-content>