<ion-segment value="badminton" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="badminton">
    <div class="category">Badminton</div>
  </ion-segment-button>
  <ion-segment-button value="basketball">
    <div class="category">Basketball</div>
  </ion-segment-button>
  <ion-segment-button value="futsal">
    <div class="category">Futsal</div>
  </ion-segment-button>
  <ion-segment-button value="tennis">
    <div class="category">Tennis</div>
  </ion-segment-button>
</ion-segment>