<ion-content padding>
  <app-header-ellipse></app-header-ellipse>
  <ion-img class="logo" src="assets/images/splash/logo.png"></ion-img>
  <!-- Quicklink-->
  <div class="quicklink">
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col class="box-menu" (click)="navTo('rent-field')">
          <ion-img class="quicklink-icon" src="assets/icon/rentField.png"></ion-img>
          <p class="bold quicklink-text">Rent Field</p>
        </ion-col>
        <ion-col class="box-menu" (click)="navTo('sparring')">
          <ion-img class="quicklink-icon" src="assets/icon/sparring.png"></ion-img>
          <p class="bold quicklink-text">Sparring</p>
        </ion-col>
        <ion-col class="box-menu" (click)="navTo('news')">
          <ion-img class="quicklink-icon" src="assets/icon/news.png"></ion-img>
          <p class="bold quicklink-text">News</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br>
  <!-- Sports Selector-->
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col class="sport-button1">
            <ion-img class="quicklink-icon" src="assets/icon/badminton.png"></ion-img>
            <p class="bold quicklink-text">Badminton</p>
        </ion-col>
        <ion-col class="sport-button2">
            <ion-img class="quicklink-icon" src="assets/icon/basketball.png"></ion-img>
            <p class="bold quicklink-text">Basketball</p>
        </ion-col>
        <ion-col class="sport-button3">
            <ion-img class="quicklink-icon" src="assets/icon/football.png"></ion-img>
            <p class="bold quicklink-text">Futsal</p>
        </ion-col>
        <ion-col class="sport-button4">
            <ion-img class="quicklink-icon" src="assets/icon/tennis.png"></ion-img>
            <p class="bold quicklink-text">Tennis</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- Nearby Fields-->
  <h3 class="bold">Nearby Field</h3>
  
  <div class="horizontal-scrolling">

    <div class="field-card">
        <ion-img class="field-picture" src="assets/icon/tennis.png"></ion-img>
        <div class="field-content">
          <h3>Lapangan</h3>
          <p>Gading Serpong, Tangerang</p>
        </div>
    </div>

    <div class="field-card">
        <ion-img class="field-picture" src="assets/icon/tennis.png"></ion-img>
        <div class="field-content">
          <h3>Lapangan</h3>
          <p>Gading Serpong, Tangerang</p>
        </div>
    </div>

  </div>

  <!-- Popular News-->
  <h3 class="bold">Popular News</h3>
  <div class="horizontal-scrolling">

    <div class="news-card">
          <ion-img class="news-picture" src="https://www.si.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_1400/MTY3ODg1NzUwMDczODI4NjI1/robert-lewandowski-bayern-munich-union-berlin.webp"></ion-img>
            <div class="news-content">
                <p>Manchester United Masuk dalam<br>Zona Degradasi!</p>
                <div class="more-button">View More</div>
            </div>
     </div>

     <div class="news-card">
        <ion-img class="news-picture" src="https://www.si.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_1400/MTY3ODg1NzUwMDczODI4NjI1/robert-lewandowski-bayern-munich-union-berlin.webp"></ion-img>
          <div class="news-content">
              <p>Manchester United Masuk dalam<br>Zona Degradasi!</p>
              <div class="more-button">View More</div>
          </div>
   </div>


  </div>
  
</ion-content>
<app-footer-menu-bar></app-footer-menu-bar>