
<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="ngOnInit($event)">
    <ion-refresher-content
      pullingIcon
      pullingText="Pull to refresh"
      refreshingSpinner="dots"
      refreshingText="Updating your current location...">
    </ion-refresher-content>
  </ion-refresher>
  
  <app-header-ellipse></app-header-ellipse>
  <ion-img class="logo" src="assets/images/splash/logo.png"></ion-img>
  <!-- Quicklink-->
  <div class="quicklink">
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col class="box-menu" (click)="navTo('rent-field')">
          <ion-img class="quicklink-icon" src="assets/icon/rentField.png"></ion-img>
          <p class="bold quicklink-text">Find Field</p>
        </ion-col>
        <ion-col class="box-menu" (click)="navTo('sparring')">
          <ion-img class="quicklink-icon" src="assets/icon/sparring.png"></ion-img>
          <p class="bold quicklink-text">Sparring</p>
        </ion-col>
        <ion-col class="box-menu" (click)="navTo('news')">
          <ion-img class="quicklink-icon" src="assets/icon/news.png"></ion-img>
          <p class="bold quicklink-text">News</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br>
  
  <!-- Sports Selector-->
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col class="sport-button1">
            <ion-img class="quicklink-icon" src="assets/icon/badminton.png"></ion-img>
            <p class="bold quicklink-text">Badminton</p>
        </ion-col>
        <ion-col class="sport-button2">
            <ion-img class="quicklink-icon" src="assets/icon/basketball.png"></ion-img>
            <p class="bold quicklink-text">Basketball</p>
        </ion-col>
        <ion-col class="sport-button3">
            <ion-img class="quicklink-icon" src="assets/icon/football.png"></ion-img>
            <p class="bold quicklink-text">Futsal</p>
        </ion-col>
        <ion-col class="sport-button4">
            <ion-img class="quicklink-icon" src="assets/icon/tennis.png"></ion-img>
            <p class="bold quicklink-text">Tennis</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- Nearby Fields-->
  <h3 class="bold">Nearby Field
    <ion-spinner name='dots' *ngIf="loadingNearbyField"></ion-spinner>
  </h3>
  
  <div class="horizontal-scrolling" *ngIf="!loadingNearbyField">
    
    <div class="field-card" *ngFor="let item of nearbyCourts" (click)="fieldDetails(item)">
        <ion-img class="field-picture" [src]="nearbyFieldsPicture[item.id] == null ? placeholder : nearbyFieldsPicture[item.id]"></ion-img>
        <div class="field-content">
          <h3 class="ion-text-wrap">{{item.name}}</h3>
          <p  class="ion-text-wrap">{{item.location}}</p>
          <p *ngIf="measurements != undefined">
            {{measurements.hasOwnProperty(item.id) ? measurements[item.id]+' km from you': 'Calculating..'}}
          </p>
        </div>
    </div>

  </div>

  <h3 class="bold">Popular News
    <ion-spinner name='dots' *ngIf="loadingNews"></ion-spinner>
  </h3>
  <div class="horizontal-scrolling" *ngIf="!loadingNews">
    <div class="news-card" *ngFor="let item of newsList;let i=index" (click)="openNewsDetails(item.url)">
      <ion-img class="news-picture" [src]="item.urlToImage"></ion-img>
      <div class="news-content">
        <p class="news-content-text" class="ion-text-wrap">{{item.title}}</p>
      </div>
    </div>
</div>

</ion-content>
<app-footer-menu-bar></app-footer-menu-bar>