<div class="sparring-card">
  <div class="card-header">
    <ion-grid>
      <ion-row align-items-center>
        <ion-col size="10"> 
          <span>{{title}}</span>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark" size="small"><fa-icon [icon]="share"></fa-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="card-content">
      <p><fa-icon [icon]="globe"></fa-icon> {{participants}}</p>
      <p><fa-icon [icon]="mapPin"></fa-icon> {{location}}</p>
      <p><fa-icon [icon]="stopwatch"></fa-icon> {{day}}, <b>{{time}}</b></p>
    
      <ion-grid>
          <ion-row>
              <ion-col> 
                <ion-button>Join Game</ion-button>
              </ion-col>
              <ion-col ends>
                  <a [routerLink]="['/','sparring-detail']">Details</a>
              </ion-col>
            </ion-row>
      </ion-grid>
  </div>
</div>