.sparring-card{
    margin-top: 24px;
    margin-left: auto;
    width: 100%;
    margin-right: 1em;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 12px;
    display: inline-block;

    .card-header{
        background: #EEEEEE;
        border-radius: 12px 12px 0px 0px;
    }

    .h5{
        line-height: 0;
    }

    .card-content{
        padding: 8px
    }
}
