<ion-row>
  <ion-col>
    <ion-segment [(ngModel)]="selected">
      <ion-segment-button class="sport-button" value="badminton" (click)="onSelected.emit('badminton')">
          <ion-img class="quicklink-icon" src="assets/icon/badminton.png"></ion-img>
          <ion-label class="bold quicklink-text">Badminton</ion-label>
      </ion-segment-button>
      <ion-segment-button class="sport-button"  value="basketball" (click)="onSelected.emit('basketball')">
          <ion-img class="quicklink-icon" src="assets/icon/basketball.png"></ion-img>
          <ion-label class="bold quicklink-text">Basketball</ion-label>
      </ion-segment-button>
      <ion-segment-button class="sport-button"  value="futsal" (click)="onSelected.emit('futsal')">
          <ion-img class="quicklink-icon" src="assets/icon/football.png"></ion-img>
          <ion-label class="bold quicklink-text">Futsal</ion-label>
      </ion-segment-button>
      <ion-segment-button class="sport-button"  value="tennis" (click)="onSelected.emit('tennis')">
          <ion-img class="quicklink-icon" src="assets/icon/tennis.png"></ion-img>
          <ion-label class="bold quicklink-text">Tennis</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-row>