ion-title{
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}

ion-toolbar{
    --background: #3699F7;
}

ion-title{
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}


.profile-picture{
    margin:auto;
    width: 120px;
    height: 120px;
}

.center{
    margin:auto;
}