.header-ellipse{
    position: absolute;
    width: 564px;
    height: 293px;
    left: -86px;
    top: -86px;

    background:linear-gradient(180deg, #565656 0%, rgba(49, 121, 228, 0) 48.44%), #3D89FB;
}