<ion-header>
  <ion-toolbar>
    <ion-title text-center>Rent a field</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--Featured Fields-->
  <h3>Featured Fields</h3>
  <div class="field-card">
      <ion-img class="field-picture" src="assets/icon/tennis.png"></ion-img>
      <div class="field-content">
        <h3>Lapangan</h3>
        <p>Gading Serpong, Tangerang</p>
      </div>
  </div>
  <h3>Popular Fields</h3>
  <ion-segment value="badminton">
      <ion-segment-button value="badminton">
        <ion-label>Badminton</ion-label>
      </ion-segment-button>
      <ion-segment-button value="basketball">
        <ion-label>Basketball</ion-label>
      </ion-segment-button>
      <ion-segment-button value="futsal">
        <ion-label>Futsal</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tennis">
        <ion-label>Tennis</ion-label>
      </ion-segment-button>
    </ion-segment>
    


</ion-content>
